extends index
block table 
    style
        include ../public/styles/styles.css
    .content
        table
            tr
            th No
            th Function Code
            th Offset
            th Number Of Registers
            - for (var i = 0; i < functioncode.length; ++i) {
                tr
                td=i
                td=functioncode[i]
                td=offset[i]
                td= numberofregisters[i]
               
                - }
            
                
                
            
            